a:link{
text-decoration:none;
}
a{color:#9f9f9d;font-size:14px;}
.12p{font-size:12px;}
.main{margin:0 auto;width:99%;clear:both;min-height:0px;}
.wenzi{margin-top:20px;margin-right:auto;margin-left:auto;width:100%;}
.biaoti{margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.title{margin-top:20px;margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.mainbox{margin-right:auto;margin-left:auto;width:220px;}
.az{margin-top:30px;float:left;width:220px;height:60px;background:url(http://i1.piimg.com/1949/a4068d39bf27b8ab.jpg) no-repeat;}
.ios{margin-top:20px;float:left;width:220px;height:60px;background:url(http://i1.piimg.com/1949/47c43cba50aa0e5c.jpg) no-repeat;}
.img1{margin-top:30px;float:left;width:221px;height:162px;background:url(http://i4.buimg.com/1949/96f5f0fbf288c71b.jpg) no-repeat;}
.img2{margin-top:20px;float:left;width:222px;height:272px;background:url(http://wx2.sinaimg.cn/mw690/0068TJS4gy1ffmhxmke11j306607kdg3.jpg) no-repeat;}
.download{margin-top:10px;float:left;text-align:center;width:220px;}